%h1=t('headers.calendar_of_the_championships.index')

= render 'form'

= link_to 'Показать', @calendar_of_the_championship, class: "btn btn-primary"
= link_to 'Назад', calendar_of_the_championships_path, class: "btn btn-primary"
